<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{hapiSwagger.info.title}}</title>
    <link rel="icon" type="image/png" href="{{hapiSwagger.swaggerUIPath}}images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{hapiSwagger.swaggerUIPath}}images/favicon-16x16.png" sizes="16x16" />
    <link href='{{hapiSwagger.swaggerUIPath}}css/typography.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{hapiSwagger.swaggerUIPath}}css/reset.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{hapiSwagger.swaggerUIPath}}css/screen.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='{{hapiSwagger.swaggerUIPath}}css/reset.css' media='print' rel='stylesheet' type='text/css' />
    <link href='{{hapiSwagger.swaggerUIPath}}css/print.css' media='print' rel='stylesheet' type='text/css' />
    <script src='{{hapiSwagger.swaggerUIPath}}lib/jquery-1.8.0.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/jquery.slideto.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/jquery.wiggle.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/handlebars-2.0.0.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/js-yaml.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/lodash.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/backbone-min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}swagger-ui.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/highlight.7.3.pack.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/jsoneditor.min.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/marked.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}lib/swagger-oauth.js' type='text/javascript'></script>
    <script src='{{hapiSwagger.swaggerUIPath}}extend.js' type='text/javascript'></script>

    <!-- Some basic translations -->
    <script src='{{hapiSwagger.swaggerUIPath}}lang/translator.js' type='text/javascript'></script>
    <script src="https://coinplot.info/assets/js/browser.js"></script>
    <script src='{{hapiSwagger.swaggerUIPath}}/lang/{{hapiSwagger.lang}}.js' type='text/javascript'></script>

    <script type="text/javascript">

      var credentials = {
        algorithm: 'sha256'
      }
      // creates a list of tags in the order they where created
      var tags = []
      {{#each hapiSwagger.tags}}
      tags.push('{{name}}');
      {{/each}}


        $(function () {
          var serverTimestamp = 0;
          var diffTimestamp = 0;
          $.ajax({ url: '/api/swagger/timestamp'})
            .then(function(data){
              serverTimestamp = parseInt(data);
              diffTimestamp = serverTimestamp - (Math.trunc(Date.now() / 1000) +1000);
            })
          $('#input_apiKey').show();

          var url = window.location.search.match(/url=([^&]+)/);
          if (url && url.length > 1) {
            url = decodeURIComponent(url[1]);
          } else {
            url = "{{{hapiSwagger.jsonPath}}}";
          }

          // Pre load translate...
          if(window.SwaggerTranslator) {
            window.SwaggerTranslator.translate();
          }

          // pull validatorUrl string or null form server
          var validatorUrl = null;
          {{#if hapiSwagger.validatorUrl}}
          validatorUrl: '{{hapiSwagger.validatorUrl}}';
          {{/if}}

            var KeySecretAuthorization = function(){};

            KeySecretAuthorization.prototype.apply = function(obj, authorizations) {
              if(obj.url.indexOf('/api') > -1) {
                credentials.id = $('#hawkId')[0].value;
                credentials.key = $('#hawkKey')[0].value;
                var timestamp = (Math.trunc(Date.now() / 1000) +1000) + diffTimestamp;
                var options = { credentials: credentials, timestamp : timestamp };
                let noHttps = obj.url.replace("https","http");
                var header = hawk.client.header(noHttps, obj.method, options);
                obj.headers["Authorization"] = header.field;
                console.log(obj.headers["Authorization"]);
                console.log(obj.url);
                console.log(options);
              }
              return true;
            };

            function setKeySecretAuth() {
              window.swaggerUi.api.clientAuthorizations.add("hawk", new KeySecretAuthorization());
            }

            window.swaggerUi = new SwaggerUi({
              url: url,
              dom_id: "swagger-ui-container",
              supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
              onComplete: function (swaggerApi, swaggerUi) {
                if (typeof initOAuth == "function") {
                  initOAuth({
                    clientId: "your-client-id",
                    clientSecret: "your-client-secret",
                    realm: "your-realms",
                    appName: "your-app-name",
                    scopeSeparator: ","
                  });
                }

                if (window.SwaggerTranslator) {
                  window.SwaggerTranslator.translate();
                }

                $('pre code').each(function (i, e) {
                  hljs.highlightBlock(e)
                });

                if (Array.isArray(swaggerApi.auths) && swaggerApi.auths.length > 0 && swaggerApi.auths[0].type === "apiKey") {
                  auth = swaggerApi.auths[0].value;
                  $('#input_apiKey').show();
                }
                setKeySecretAuth();
              },
              onFailure: function (data) {
                log("Unable to Load SwaggerUI");
              },
              docExpansion: "{{hapiSwagger.expanded}}",
              apisSorter: apisSorter.{{hapiSwagger.sortTags}},
            operationsSorter: operationsSorter.{{hapiSwagger.sortEndpoints}},
            showRequestHeaders: false,
              validatorUrl: validatorUrl,
              jsonEditor: {{#if isTrue}}true{{else}}false{{/if}}
            });

            $('#hawkKey').change(setKeySecretAuth);
            $('#hawkId').change(setKeySecretAuth);
            $('#jwt').change(addApiKeyAuthorization);

            function addApiKeyAuthorization() {
              var key = $('#input_apiKey')[0].value;
              var apiKeyAuth = new SwaggerClient.ApiKeyAuthorization('Authorization', 'Bearer '+key, 'header');
              window.swaggerUi.api.clientAuthorizations.add('Authorization' , apiKeyAuth);
              console.log(key);
            }
            window.swaggerUi.load();

            function log() {
              if ('console' in window) {
                console.log.apply(console, arguments);
              }
            }
          });



    </script>

    <style>
        #header{
            clear: both;
            float: left;
            width: 100%;
            padding:14px 0;
        }
        .swagger-section #api_selector{
            margin-top: 10px;
        }
        .swagger-section #api_selector input{
            width: 190px;
        }
        .swagger-section #api_selector .input{
            margin: 5px;
            width: 305px;
        }
        .swagger-section .swagger-ui-wrap{
            clear: both;
        }
        .swagger-section #api_selector .input span{
            width:100px;
            display: inline-block;
        }
    </style>
</head>

<body class="swagger-section">
<div id='header'>
    <div class="swagger-ui-wrap">
        <a id="logo" href="http://swagger.io">swagger</a>
        <form id='api_selector' onsubmit="return false">
            <div class="tokenLoginWrap">
                <div class='input'>
                    <span>HAWKID</span>
                    <input id="hawkId" placeholder="key" type="text" value="{{passwords.keySecret.u}}" />
                </div>
                <div class='input'>
                    <span>HAWKKEY</span>
                    <input id="hawkKey" placeholder="secret" type="text" value="{{passwords.keySecret.p}}" />
                </div>
            </div>
        </form>
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>

</html>
